pymupdf==1.27.2.3
opencv-contrib-python==4.13.0.92
numpy==2.4.4
matplotlib==3.8.4
duckdb==1.2.0
Pillow==12.2.0
tqdm==4.67.3
pytesseract==0.3.13
psutil==7.2.2
# pywinauto==0.6.1  # Windows-only, needed only for NIST_ext.py (GUI automation)
